html {
  min-width: 100%;
  padding: 0;
  margin: 0;
  background-color: #EEE2DF;
}

* {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
color: #693730;
}

header{
text-align: center;
font-size: 24px;
}

.heading
{
  color: #693730;
}
nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 0;
    overflow: hidden;
    background-color: #C89F9C;
    font-size: 16px;
  }
  
nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    background-color: #C89F9C;
    color: #EED7C5;
  }
  
  nav li a:hover {
    background-color: #EED7C5;
    color: #693730;
  }

  
.container
{ 
    margin: auto;
    padding: 10px;
    color: #693730;
    overflow-x: auto;
}
  .hero td
  {
    padding: 24px;
    background-color: #C97C5D;
    margin: 3em;
  }
.review
{
  display:flexbox;
  background-color: #C89F9C;
  padding: 19px;
}

.course-table
{
  width: 100%;
}

.course-table th
{
  text-align: left;
}

.signup-form
{
  padding:5px;
}


.course-table td
{
  vertical-align: text-top;
}

  footer
  {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    
  }

/*
För skärmar större än iPhone 14 Pro Max
*/
@media only screen and (max-width: 550px)
{
 h1
 {
  font-size: 32px;
 }
}
